################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NETNENNET/FileContentIndex/71ada0cb-428e-47f3-b3e3-a1655ca83289.vsidx
/.vs/NETNENNET/FileContentIndex/36c904a3-4544-4deb-837b-fee0f31f5d76.vsidx
/.vs/NETNENNET/FileContentIndex/9369594e-3cb7-4cd1-9e32-a20a8a4f50ae.vsidx
/.vs/NETNENNET/FileContentIndex/996c205c-e15e-44f4-8c07-171cc01605ec.vsidx
/.vs/NETNENNET/FileContentIndex/a8a4bdc3-e9ab-4a71-b1ad-6d6f31a0d0ec.vsidx
/.vs/NETNENNET/FileContentIndex/d0ce6225-0a03-45d2-9602-f5941e539468.vsidx
/.vs/NETNENNET/FileContentIndex/385b6a12-1f99-4fd0-8e6f-9e183d43ee90.vsidx
/.vs/NETNENNET/FileContentIndex/a667a391-259b-4756-bd86-718e741a6d3b.vsidx
/.vs/NETNENNET/FileContentIndex/dfb64ab0-8ddb-461f-80ed-f1aa844de407.vsidx
