################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NETNENNET/FileContentIndex/71ada0cb-428e-47f3-b3e3-a1655ca83289.vsidx
