################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NETNENNET/FileContentIndex/1106a8ab-76e7-46b2-a25a-e81380c0e53f.vsidx
/.vs/NETNENNET/FileContentIndex/b66e6b15-a097-434f-8e65-a7fb3ef738d1.vsidx
.vs/NETNENNET/FileContentIndex/30df0240-ffad-4141-96d5-5ec727f9b47d.vsidx
.vs/NETNENNET/FileContentIndex/a547297e-a1b9-4218-aef6-61d1fc37ae1f.vsidx
.vs/NETNENNET/FileContentIndex/ecbbfddd-c32d-4139-a7cf-21de4ea9c94b.vsidx
.vs/NETNENNET/v17/DocumentLayout.json
